<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="key0" value="noFile" />
		<add key="key1" value="noFile" />
		<add key="key2" value="noFile" />
		<add key="key3" value="noFile" />
		<add key="key4" value="noFile" />
		<add key="key5" value="noFile" />
		<add key="key6" value="noFile" />
		<add key="key7" value="noFile" />
		<add key="key8" value="noFile" />
		<add key="key9" value="noFile" />
		<add key="key10" value="noFile" />
		<add key="key11" value="noFile" />
		<add key="key12" value="noFile" />
		<add key="key13" value="noFile" />
		<add key="key14" value="noFile" />
		<add key="key15" value="noFile" />
		<add key="key16" value="noFile" />
		<add key="key17" value="noFile" />
		<add key="key18" value="noFile" />
		<add key="key19" value="noFile" />
		<add key="key20" value="noFile" />
		<add key="key21" value="noFile" />
		<add key="key22" value="noFile" />
		<add key="key23" value="noFile" />
	</appSettings>
</configuration>